body
{
    background-image: url("../res/b1.jpg");
}

.header .navbar {
  background-color: transparent !important;
}
.title
{
    font-size: x-large;
}
.table_curso_alumno, #content
{
    background-color: hsla(204, 46%, 92%, 0.74);
}
